<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba de Consultas</title>
    <!-- Linkando CSS: Flask Python -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}"> -->


    <!-- Linkando com o Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}" ></script>
</head> 
<body class="bg-light">
    <div class="container mt-3">
        <h2 class="text-center">Consulta Preços</h2>

        <!-- was-validated CSS class -> Validation style -->
        <form method="POST" action="query"  class="was-validated">
            <!-- mb (margim bottom) ; mt (margim top) -->
            <div class="mb-3 mt-3 input-group">
                <!-- <label class="form-label" for="product_query">Passe o produto no leitor</label> -->
                <label class="input-group-text" for="product_query">Consulta</label>
                <input class="form-control" id="product_query" type="number" name="product_id" placeholder="Digite o ID do produto" required>
                <div class="valid-feedback"><p>ID válido</p></div>
                <div class="invalid-feedback"><p>Por favor, preencher o campo acima ou leia o código de barras</p></div>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Consultar</button>
            </div>
        </form>
    </div>
    <div class="container mp-3 mt-3">
        <!-- Flask Template tokens -->
        {% if description %}
            <div class="card bg-light text-dark">
                <div class="card-header">Detalhes do Produto</div>
                <div class="card-body">
                    <p><strong>Descrição:</strong> {{ description }}</p>
                    <p><strong>Preço:</strong> R$ {{ price }}</p>
                </div> 
                <!-- <div class="card-footer">Footer</div> -->
            </div>
        {% elif description is none %}
            <!-- <p>Produto não encontrado.</p> -->
            <div class="card bg-light text-dark">
                <div class="card-header">Produto não encontrado</div>
                <div class="card-body">
                    <p>Por favor, verifique o código fornecido</p>
                </div> 
                <!-- <div class="card-footer">Footer</div> -->
            </div>
        {% endif %}
    </div>
    <!-- 
        {% if description %}
            <h2>Detalhes do produto</h2>
            <p><strong>Descrição:</strong> {{ description }}</p>
            <p><strong>Preço:</strong>R$ {{ price }}</p>
        {% elif description is none %}
            <p>Produto não encontrado.</p>
        {% endif %}
    -->
</body>
</html>