<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>
</head>
<body>
    <fieldset>
        <form method="POST" action="home">
            {% csrf_token %}
            <label for="username_inpt">Digite o username: </label>
            <input id="username_inpt" type="text" name="username" required><br>

            <label for="password_inpt">Digite a senha: </label>
            <input id="password_inpt" type="password" name="password" required><br>

            <button type="submit">acessar</button>
        </form>
        {% if success %}
            <p style="color: green">{{ message }}</p>
        {% endif %}
        
        {% if error %}
            <p style="color: red">{{ message }}</p>
        {% endif %}

    </fieldset>
</body>
</html>