<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Avance</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polls:cadastro' %}">Cadastro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polls:login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'polls:consulta' %}">Consulta</a>

                    </li>
                </ul>
            </div>

        </div>
    </nav>
    
    <div class="container">
        <h1>Tela de Login</h1>
        <form method="POST" action="{% url 'polls:login' %}">
            {% csrf_token %}
            <!-- <label for="username_inpt">Digite o username: </label>
            <input id="username_inpt" type="text" name="username" required><br>

            <label for="password_inpt">Digite a senha: </label>
            <input id="password_inpt" type="password" name="password" required><br> -->

            <div class="mb-3 mt-3 input-group">
                <!-- <label class="form-label" for="product_query">Passe o produto no leitor</label> -->
                <label class="input-group-text" for="username_inpt">Digite o usuário: </label>
                <input class="form-control" id="username_inpt" type="text" name="username" placeholder="Digite o usuário" required>
            </div>
            <div class="mb-3 mt-3 input-group">
                <label class="input-group-text" for="username_inpt">Digite a senha: </label>
                <input class="form-control" id="password_inpt" type="password" name="password" placeholder="Digite a senha" required>
            </div>

            <div class="col text-center">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </form>
        {% if success %}
            <p style="color: green">{{ message }}</p>
        {% endif %}
        
        {% if error %}
            <p style="color: red">{{ message }}</p>
        {% endif %}

    </div>
</body> 

</html>